.stat-report-table tr td {
  vertical-align: top;
}

.view-stat-pageload-activity-report .view-content tr td {
  vertical-align: top;
}

.view-stat-pageload-activity-report .stat-inner-table {
  border: none;
}
.view-stat-pageload-activity-report .stat-inner-table td {
  padding: 0;
  border: none;
}
.view-stat-pageload-activity-report .stat-inner-table td.label {
  font-weight: bold;
}
.view-stat-pageload-activity-report .views-field.views-field-custom-webpage {
  width: 300px;
}